{% extends 'main.html' %}



{% block contenet %}
  <!-- Main Section -->
  <main class="inbox my-xl">
    <div class="content-box">
      <h3 class="inbox__title">New Messages(<span>{{ count_unread }}</span>)</h3>
      <ul class="messages">
          {% for single_message in total_messages %}
              {% if single_message.is_read == False %}
        <li class="message message--unread">
        {% else %}
         <li class="message">
        {% endif %}
          <a href="{% url 'single-message' single_message.pk%}">
            <span class="message__author">{{ single_message.sender_name}}</span>
            <span class="message__subject">{{ single_message.subject}}</span>
            <span class="message__date">{{ single_message.created }}</span>
          </a>
        </li>
          {% endfor %}

      </ul>
    </div>
  </main>
{% endblock contenet %}
